flash {

	.flash-container {

		position: absolute;
		top: 0;
		width: 100%;
		height: 56px;
		color: #fff;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		time-bar {
			position: absolute;
			top: 0;
		}

		.dismiss {
			position: absolute;
			bottom: 0;
			margin: 0 0 5px 0;
			font-size: 0.7em;
			opacity: 0.5;
		}

	}

	.primary {
		background-color: map-get($colors, primary);
	}

	.secondary {
		background-color: map-get($colors, secondary);
	}

	.danger {
		background-color: map-get($colors, danger);
	}

	.light {
		background-color: map-get($colors, light);
	}

	.dark {
		background-color: map-get($colors, dark);
	}

}
