flash {

	.flash-container {

		position: absolute;
		top: 0;
		width: 100%;
		height: 56px;
		color: #fff;
		background-color: #ff7675;
		border: 1px solid #d63031;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;

	}

}
